.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.myNav {
  background-color: #092660; 
}
.navBrand{
  color: black;
  font-weight: bold;
  text-shadow: 2px -3px 5px rgb(234, 255, 0);
}
.cardStyle:hover{
transform: scale(1.2);
z-index: 2;
}
.data{
  font-weight: bold;
}
